version: '3.7'

services:
  localstack:
    image: localstack/localstack:2.3.2
    ports:
      - '4566:4566'
    environment:
      SERVICES: s3
      DEBUG: 1
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "./init:/etc/localstack/init"
      - "./data:/home/localstack/data"
