<div class="post" data-controller="post" data-values="{}">
  <p class="post__content" data-post-target="content"></p>
  <div class="post__btns">
    <button class="post__btn" data-action="click->post#edit">編集</button>
    <button class="post__btn" data-action="click->post#remove">削除</button>
  </div>
</div>
