<div class="post-list" data-controller="post-list">
  <ul class="post-list__list" data-post-list-target="list"></ul>
  <button data-action="click->post-list#add">追加</button>
  <template data-post-list-target="formTemplate">
    <%= render partial: 'components/post_form' %>
  </template>
  <template data-post-list-target="postTemplate">
    <%= render partial: 'components/post' %>
  </template>
</div>
