<form class="post-form" data-controller="post-form" data-action="submit->post-form#submit">
  <input type="text" name="content" class="post-form__content" />
  <input type="submit" value="保存" class="post-form__btn" />
</form>
