---

name: Run RSpec

on:
  push:
    paths:
      - '.github/workflows/test.yml'
      - 'rails/**/*'

env:
  RAILS_ENV: test

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: ./rails
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/lo-rails:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-args: |
            RAILS_ENV=test

  rspec:
    needs: build

    runs-on: ubuntu-latest

    container:
      image: ghcr.io/${{ github.repository_owner }}/lo-rails:${{ github.sha }}

    defaults:
      run:
        working-directory: ./rails

    steps:
      - uses: actions/checkout@v4

      - name: Setup database
        run: bundle exec rails db:migrate

      - name: Run RSpec
        run: bundle exec rspec -fd --force-color
